* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

*::selection {
    color: #ffff;
    background-color: #000;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(247, 247, 178);
}

#main {
    height: 100%;
    width: 100%;
    background-color: rgb(247, 247, 178);
}

#home {
    width: 100%;
    min-height: auto;
}

#nav {
    display: flex;
    align-items: center;
    background-color: #f7e2b1ea;
    justify-content: space-between;
    width: 100%;
    padding: 33px 50px;
    height: 15%;
}

.icon {
    font-size: medium;
}

#nav img {
    width: 50%;
}

#nav #right {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 50px;

}

#nav #right:hover {
    transition: cubic-bezier(1, 0, 0, 1);

}

#nav a {
    text-decoration: none;
    font-weight: 400;
    color: black;
    font-size: 0.8rem;
    letter-spacing: -1px;
    transition: font-size 0.3s;
}

#nav a:hover {
    font-size: 2vw;
}

@media (min-width: 768px) {
    #nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 50px;
    }

    #nav img {
        width: 100px;
    }

    #nav a {
        font-size: 1.5vw;
    }

    #nav i {
        font-size: 1.5vw;
    }

}

#right a.login-btn {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border-radius: 25px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}

#right a.login-btn:hover {
    color: black;
    background-color: #ffffff;
}


#nav i {
    font-weight: 100px;
    font-size: 1rem;
}



/* footer  */

.container {
    width: auto;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.vertical-logo {
    font-size: 2.5vw;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: 40px;
}

.grid-container {

    margin: 4vw;
    margin: 4vw 7vw;
    height: auto;
    align-items: center;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grid-item {
    background-color: rgba(237, 230, 230, 0.674);
    padding: 20px;
    border-radius: 10px;
}

.grid-item h2 {
    margin-bottom: 20px;
}

.grid-item a {
    display: block;
    color: #333;
    text-decoration: none;
    margin: 10px 0;
}

.grid-item a:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 50px;
    font-size: 12px;
    color: #333;
    font-size: 1rem;
}

.footer p {
    width: 50%;
    margin: 1rem auto;
}

.social-media {
    margin-top: 30px;
}

.social-media a {
    margin: 0 10px;
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

.social-media:visited {
    color: pink;
}

.social-media a:hover {
    background: pink;
    color: white;
    box-shadow: 0 0 30px pink;
}

/* Add floating animation */
@keyframes floating {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}
