* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: rgb(247, 247, 178) !important;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
    background-color: #f7e2b1ea;
}

#nav img {
    width: 100px;
}

#nav #right {
    display: flex;
    align-items: center;
    gap: 40px;
}

#nav a {
    text-decoration: none;
    font-weight: 400;
    color: #000;
    font-size: 0.8rem;
    letter-spacing: -1px;
    transition: font-size 0.3s;
}

#nav a:hover {
    font-size: 2vw;
}

@media (min-width: 768px) {
    #nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 50px;
    }

    #nav img {
        width: 100px;
    }

    #nav a {
        font-size: 1.5vw;
    }

    #nav i {
        font-size: 1.5vw;
    }

}

#nav i {
    font-weight: 100px;
    font-size: 1rem;
}

#right a.login-btn {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border-radius: 25px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}

#right a.login-btn:hover {
    color: black;
    background-color: #ffffff;
}

.resources {
    margin: 2%;
    margin-bottom: -3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.practice {
    display: block;
    width: 100vw;
    margin-top: 5%;
}

.container {
    margin: 2%;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8%;
    flex-wrap: wrap;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
    margin-top: 5% !important;
    margin: 0;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 300px !important;
    border: 2px solid black;
    border-radius: 15px;
    height: 200px;
    background-color: #f0ebd5;
    box-shadow: 0 8px 15px pink;
    text-align: center;
    transition: transform 0.6s, box-shadow 0.3s ease;
    cursor: pointer;
    transform-style: preserve-3d;
    perspective: 1000px;
    position: relative;

}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover {
    transform: rotateY(10deg) scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);

}

.card1 img {
    margin: 4%;
    width: 50%;
    height: 50%;
}

.card2 img {
    margin: 4%;
    width: 50%;
    height: 49%;
}

.card3 img,
.card4 img,
.card5 img,
.card6 img {
    margin: 4%;
    width: 45%;
    height: 45%;
}

.card1 a,
.card2 a,
.card3 a,
.card4 a,
.card5 a,
.card6 a {
    text-decoration: none;
    color: rgb(94, 21, 163);
    font-weight: 600;
}


.quote {
    margin-top: 15px;
    color: #555;
    font-style: italic;
    font-size: 0.9rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.grid-container {
    margin: 4vw;
    height: auto;
    align-items: center;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grid-item {
    background-color: rgba(237, 230, 230, 0.674);
    padding: 20px;
    border-radius: 10px;
}

.grid-item h2 {
    margin-bottom: 20px;
}

.grid-item a {
    display: block;
    color: #333;
    text-decoration: none;
    margin: 10px 0;
}

.grid-item a:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 50px;
    font-size: 12px;
    color: #333;
    font-size: 1rem;
}

.social-media {
    margin-top: 30px;
}

.social-media a {
    margin: 0 10px;
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

.social-media a:hover {
    color: #000;
}

.quote {
    margin-top: 1rem;
}

.vertical-logo {
    font-size: 2.5vw;
}
#goto-top-btn {
    background-color: white;
    padding: 15px 19px;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 118px;
    right: 30px;
    display: none;
  }
  
  #goto-top-btn:hover {
    background-color: #bdbaba;
  }
